@model List<DisplayAllOfCategoryViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #wedding-products-container {
        margin-top: 10px;
        margin-left: 140px;
        display: inline-block;
    }
        #wedding-products-container img {
            width: 195px;
            height: 240px;
        }

    .wedding-product-pres{
        float: left;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
        
</style>

<h1 class="text-center">All Wedding Products</h1>

<div id="wedding-products-container">
    @foreach (var product in Model)
    {
    <div class="wedding-product-pres">
        <a href="/Products/Details/@product.Id"><img src="@product.Picture" alt="@product.Name" /></a>
        <p class="text-primary mt-3">@product.Name</p>
        @if (product.IsInSale)
        {
            <a href="/Sales/Details/@product.SaleId"><p>Now In Sale</p></a>
        }
        else
        {
            <p class="text-primary mt-3">Price: &euro;@product.Price</p>
        }
    </div>
    }
</div>
