@model List<DisplayAllOfCategoryViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #wedding-product-pres {
        margin-top: 10px;
        margin-left: 95px;
        display: inline-block;
        float: left;
    }

        #wedding-product-pres img {
            width: 30%;
        }
</style>

<h1 class="text-center">All Wedding Products</h1>

<div>
    @foreach (var product in Model)
    {
    <div id="wedding-product-pres">
        <a href="/Products/Details/@product.Id"><img src="@product.Picture" alt="@product.Name" /></a>
        <div>
            <p class="text-primary text-center mt-3">@product.Name</p>
            @if (product.IsInSale)
            {
                <a href="/Sales/Details/@product.SaleId"><p>Now In Sale</p></a>
            }
            else
            {
                <p class="text-primary text-center mt-3">Price: &euro;@product.Price</p>
            }
        </div>
    </div>
    }
</div>
