@model List<DisplayAllOfCategoryAndTypeViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #wedding-dress-pres {
        margin-top: 10px;
        margin-left: 95px;
        display: inline-block;
        float: left;
    }

        #wedding-dress-pres img {
            width: 30%;
        }
</style>

<h1 class="text-center">Enjoy our Wedding Dresses</h1>

<div>
    @foreach (var product in Model)
    {
        <div id="wedding-dress-pres">
            <a href="/Products/Details/@product.Id"><img src="@product.Picture" alt="@product.Name" /></a>
            <p class="text-primary text-center mt-3">@product.Name</p>
            <p class="text-primary text-center mt-3">Price: &euro;@product.Price</p>
        </div>
    }
</div>
