@model IEnumerable<DaysForGirls.Web.ViewModels.SaleDisplayAllViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
    #sale-holder{
        margin-left: 200px;
        margin-bottom: 50px;
    }

    /*#sale-holder img{
        width: 50%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 0px;
    }*/
    #saleTitle{
        text-decoration: none;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    }

    #saleEndsOn{
        margin-top: 0px;
        padding-top: 0px;
    }

    #sale-image{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 0px;
    }

    #sale-image:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .text-over-image{
        /*margin-left: 0px;*/
        position: relative;
        /*text-align: center;*/
        font-weight: bold;
    }

    .text-bottom-center{
        margin-left: 1px;
        opacity: 0.5;
        background-color: #ebebe0;
        color: #1f1f14;
        position: absolute;
        bottom: 20px;
        width: 788px;
        left: 5px;
        /*right: 5px;*/
    }

    h1{
        margin-top: 30px;
        margin-bottom: 50px;
    }

</style>

<h1 class="text-center">All Active Sales</h1>

<div id="all-sales-holder">

    @foreach (var sale in Model)
    {
        <div id="sale-holder">
            <div class="text-over-image">
                <a href="/Sales/Details/@sale.Id"><img id="sale-image" src="@sale.Picture" alt="@sale.Title" width="800" /></a> @*width was 550*@
                <div class="text-bottom-center">
                    <a id="saleTitle" href="/Sales/Details/@sale.Id"><h3 class="text-center">@sale.Title</h3></a>
                </div>
            </div>
            <p id="saleEndsOn"><span style="font-weight: bold">Ends on:</span> @sale.EndsOn</p>
        </div>
    }
</div>
