@model IEnumerable<DaysForGirls.Web.ViewModels.SaleDisplayAllViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #sale-holder{
        margin-left: 390px;
        margin-bottom: 30px;
    }
    #saleTitle{
        text-decoration: none;
        margin-top: 0px;
        padding-top: 0px;
    }

    #saleEndsOn{
        margin-top: 0px;
        padding-top: 0px;
    }

    #sale-image{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }

    #sale-image:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

    h1{
        margin-top: 30px;
        margin-bottom: 50px;
    }

</style>

<h1 class="text-center">All Active Sales</h1>

@foreach(var sale in Model)
{
    <div id="sale-holder">
        <a href="/Sales/Details/@sale.Id"><img id="sale-image" src="@sale.Picture" alt="@sale.Title" width="550"/></a>
        <a id="saleTitle" href="/Sales/Details/@sale.Id"><h3>@sale.Title</h3></a>
        <p id="saleEndsOn"><strong>Ends on: @sale.EndsOn</strong></p>
    </div>
}

