@model List<DaysForGirls.Web.ViewModels.ProductDisplayAllViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Dresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Find a Dress for Any Special Occasion</h1>

<div class="container-fluid">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="col-md-3">
            <a asp-controller="" asp-action="Details/@Model[i].Id"><img src="@Model[i].Pictures[0]" alt="@Model[i].Name" /></a>
            <h3>@Model[i].Name</h3>
            <h3>&euro;@Model[i].Price</h3>
            @if (Model[i].Quantity < 1)
            {
                <h3>Sold Out</h3>
            }
        </div>
    }
</div>
