@model DaysForGirls.Web.InputModels.ProductTypeCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        input[type=text], select {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 15%;
            background-color: #007f99;
            color: white;
            font-size: medium;
            padding: 15px 20px 15px 20px;
            margin: 10px 200px 10px 25px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #a3a375;
        }

        #row {
            margin-left: 250px;
            margin-right: 250px;
            position: center;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        /*#forgot-or-register {
            color: #cc0052;
        }*/
    </style>

<h1 class="text-center">Create Product Type</h1>

@*<h4>ProductTypeCreateInputModel</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter the Product Type" autofocus />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
