@model DaysForGirls.Web.InputModels.CategoryEditInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #category-edit-view{
        margin-top: 50px;
        /*margin-left: 450px;*/
    }

    #category-edit-view h1{
        text-align: center;
    }

    input[type=text]{
        color: #666666;
    }

    input[type=submit] {
        width: 22%;
        background-color: #cc0052;
        color: white;
        font-size: medium;
        padding: 15px 20px 15px 20px;
        margin: 30px 200px 10px 25px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #a3a375;
        }

            .row {
                width: 60%;
                margin-left: 400px;
                position: center;
                border-radius: 5px;
                background-color: #f7f5ed; /*#f2f2f2;*/
                padding: 20px;
            }

            h2{
                margin-top: 50px;
            }
</style>

    <div id="category-edit-view">
        <h2 class="text-center">Edit Category</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class=""></label>
                        <input type="text" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class=""></label>
                        <input type="text" asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save Changes" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
